<div class="wahl-o-mat-container ">
  <div class="container">
    <h1>INSIDERS TECHNOLOGIES</h1>
    <!-- <img src="resources/Insiders-logo-black.svg" height="125" width="956"/> -->
    <h2>Products and Services</h2>
    <div *ngIf="stage === 'start'">
      <button type="button" class="btn btn-light text-center" (click)="startQuiz()">Start</button>
      <p>Complete the following quiz to find the products/services from insiders that you would be interesetd in!</p>
    </div>

    <div >
      <div class="survey-container" *ngIf="stage === 'quiz'">
        <h2>{{ currentQuestionIndex + 1 }} / {{ questions.length }} {{ questions[currentQuestionIndex].title }} </h2>
        <p>{{ questions[currentQuestionIndex].question }}</p>
        <div>
          <button type="button" class="btn btn-warning" *ngFor="let option of questions[currentQuestionIndex].options" (click)="selectAnswer(option)">{{ option }}</button>
        </div>
      </div>
      <div class="progress mt-3" *ngIf="stage === 'quiz'">
        <div class="progress-bar" role="progressbar" [style.width.%]="(currentQuestionIndex) * 25"></div>
      </div>
    </div>

    <div class="wahl-o-mat-container " *ngIf="stage === 'result'">
      <h2>Recommended Product</h2>
      <p>{{ recommendedProduct }}</p>
      <button class="btn btn-secondary" (click)="restartQuiz()">Restart Quiz</button>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->